<div class="sub-baslik">My Expertise</div>
<p class="sub-tag-line">Being passionatly curious has taken me from data science to full-stack web development</p>
<div class="code">
  <div class="tech">
    <div class="conda">Code</div>
    <i class="devicon-python-plain-wordmark"></i>
    <i class="devicon-javascript-plain"></i>
    <i class="devicon-postgresql-plain"></i>
    <br>
    <i class="devicon-css3-plain"></i>
    <i class="devicon-html5-plain"></i>
    <div class="sub-tag-line">R & Unix</div>
  </div>
</div>
<br>
<br>
<div class="code">
  <div class="tech">
    <div class="conda">Analytics</div>
      <img style="width: 40vh; padding-top: 10px;" src="assets/img/py.png"/>
      <img style="width: 15vh;" src="assets/img/keras.png"/>
  </div>
  <div class="tech">
    <div class="conda">Frameworks</div>
    <i class="devicon-git-plain"></i>
    <i class="devicon-django-plain"></i>
    <i class="devicon-redis-plain-wordmark"></i>
    <br>
    <img style="width: 25vh;" src="assets/img/gcp.png"/>
    <i class="devicon-react-original-wordmark"></i>
    <i class="devicon-d3js-plain"></i>
    <i class="devicon-docker-plain-wordmark"></i>
    <div class="sub-tag-line">Django-REST, Redux, Pytest, Mocha & more!</div>
  </div>
</div>