<div class="sub-baslik">Featured Work</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/build_a_business.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <div style='font-family: Lobster, cursive; font-size: 20pt;'>Project: Build-a-Business</div>
    <ul>
      <li>Django-REST</li>
      <li>PostgreSQL</li>
      <li>React</li>
      <li>Redux</li>
    </ul>
    <p>I created a template for a SaaS application. My go to stack for developing a new application completely decouples the frontend and backend. I prefer to use Django-REST for the backend while I let React and Redux take care of the frontend.</p>
    <a class="project-link" href="/build-a-business/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/pandas-sprint.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <div style='font-family: Lobster, cursive; font-size: 20pt;'>Blog post: Contributing to open-source software-pandas</div>
    <ul>
      <li>Python</li>
      <li>Git</li>
      <li>Documentation</li>
    </ul>
    <p>This blog post documents my experience making my first contribution to open source project pandas.</p>
    <a class="project-link" href="Contributing-to-open-source-project-pandas">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/sherlock-holmes.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <div style='font-family: Lobster, cursive; font-size: 20pt;'>Code snippet: Model Finder</div>
    <ul>
      <li>Python</li>
      <li>Scikit-learn</li>
      <li>Object-oriented design</li>
    </ul>
    <p>A code snippet from a project of mine. I built a program that autmates machine learning by testing many different models on your dataset and reporting their respective results.</p>
    <a class="project-link" href="/Model-finder/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/redis-queue.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <div style='font-family: Lobster, cursive; font-size: 20pt;'>Code snippet: Background job processing</div>
    <ul>
      <li>Python</li>
      <li>Custom error handling</li>
    </ul>
    <p>Setting up backend processing and a queueing system is essential for computation intensive applications. Here I show a code snippet for doing this and adding some custom error handling.</p>
    <a class="project-link" href="/Custom-queue-error-handling/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/viz_distributions/violin.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <div style='font-family: Lobster, cursive; font-size: 20pt;'>Blog post: Visualizing distributions</div>
    <ul>
      <li>R</li>
      <li>Visualizations</li>
    </ul>
    <p>An indepth anaylsis of the different ways to visualize and compare continous distributions.</p>
    <a class="project-link" href="/Visualizing-Distributions/">Check it out</a>
  </div>
</div>